<div style="margin-top: 40px;">
    <h3>Listado de Clientes</h3>
    <table *ngIf="clientes" class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td><a [routerLink]="['/ficha-cliente',cliente.id]">ver</a></td>
            </tr>
        </tbody>
    </table>
</div>


